.icon_button_style,
.icon_button_style:hover,
.icon_button_style:focus {
  border: none !important;
  border-radius: 0 !important;
  background: transparent !important;
  color: black !important;
  padding: 0 !important;
  margin: 0 !important;
}
