.filterbar_dropdown {
  border-radius: 6px;
  /* border: 1px solid var(--gray-300); */
  width: 100%;
  text-align: left;
  font-size: 11px;
  background-color: var(--filter-bg);
  margin-top: .5rem;
}
