.search_input_width {
    width: 100%;
}
.custom_search_width{
    width: 440px;
}
.search_input_width {
    border: none;
    // filter: drop-shadow(5px 5px 5px #0000000f);
    outline: none;
}
.search_input_width .p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: #3165cb;
    border-color: var(--sidebar-active-color);
}
.search_input_width input:placeholder-shown {
    // width: 340px !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}
